body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(pexels.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
}
h2{
    margin-bottom: 20px;
    color: black;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
#add-task-container{
    width: 400px;
    padding: 20px 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    margin-bottom: 20px;
}
input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}
#add-task{
    flex: 1;
    transition: .3s;
    font-size: 1.5rem;
    padding: 5px;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 10px;

}
#add-task:hover{
    background-color: green;
    color: white;
}
.task{
    width: 100%;
    background-color: black;
    border-radius: 10px;
    color: blue;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}
.task button{
    flex: 1;
    border-radius: 10px;
    cursor: pointer;
}
.Uncheck{
    text-decoration: line-through;
}
