body{
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
}
.card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
    width:300px;
    height: 550px;
    margin-bottom: 50px;

}
#team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
h1{
   text-transform: uppercase;

}
img{
    width: 100%;
    height: 350px;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.icon{
    width: 25px;
    height: 25px;
}
